<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Hellsockets - WebSockets Stress Tester</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap-theme.min.css">
</head>
<body ng-app="hellsockets">
    <div class="container">
        <div ng-controller="LoaderController">
            <form ng-submit="start()">
                <p>
                    <input type="text" placeholder="uri" ng-model="config.uri"/>
                </p>
                <p>
                    <input type="text" placeholder="message" ng-model="config.message"/>
                </p>
                <p>
                    <input type="number" ng-model="config.sessions"/>
                </p>
                <p>
                    <input type="number" ng-model="config.iterations"/>
                </p>

                <p>
                    <input type="submit" value="Start"/>
                </p>
            </form>
            {{result.status}}
        </div>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.4/angular.js"></script>
    <script src="res/js/app.js"></script>
    <script src="res/js/services.js"></script>
    <script src="res/js/controllers.js"></script>

</body>
</html>